{% extends 'layout.html' %} {% block title %} Index {% endblock %} {% block body %}



<main class="container">
    <div class="grid-images">
        <div class="imagen-producto image-1">
            <img src="static/img/1.jpg" alt="Imagen Producto 1" />
        </div>
        <div class="imagen-producto image-2">
            <img src="static/img/2.jpg" alt="Imagen Producto 2" />
        </div>
        <div class="imagen-producto image-3">
            <img src="static/img/3.jpg" alt="Imagen Producto 3" />
        </div>
        <div class="imagen-producto image-4">
            <img src="static/img/4.jpg" alt="Imagen Producto 4" />
        </div>
    </div>

    <!-- Productos Detalles -->

    <div class="info-details-product">
        <div class="container-acordeon">
            <button class="acordeon-button active">
                Descripción
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acordeon-content">
                <p>
                    Como Cristiano Ronaldo, los azulejos son un tesoro nacional portugués. Para el Nike Zoom Mercurial Superfly 9 Elite CR7, nos inspiramos visualmente en los íconos portugueses para mostrar lo que se puede lograr al dedicarse a la artesanía. Ahora con una
                    unidad Zoom Air específica para fútbol, puedes acelerar en los últimos minutos de un partido, cuando más importa.


                </p>
            </div>
        </div>
        <div class="container-acordeon">
            <button class="acordeon-button">
                Características
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acordeon-content">
                <ul>
                    <li>Por primera vez en nuestra historia, Nike desarrolló una unidad Zoom Air de 3/4 completamente nueva y exclusiva para el fútbol. Se asienta en la placa y proporciona un nivel adicional de sensación elástica debajo del pie que ayuda
                        a moverte más rápido en los deportes de campo y a crear separación cuando más importa; ya sea que estés anotando goles, llegando en primer lugar a la pelota o sorteando a los defensores.
                    </li>
                    <li>
                        Impulsa tu velocidad La estructura de velocidad en su interior está hecha con un material delgado pero resistente que fija el pie a la suela sin agregar peso adicional para ofrecer un ajuste óptimo.
                    </li>
                    <li>Profundidad para el despegue Los tachones tri-star proporcionan una tracción multidireccional en cada pisada, para que puedas cambiar de dirección de forma rápida y segura. Los tachones del talón proporcionan tracción y estabilidad
                        al frenar. Los tachones que van de la punta al centro te ofrecen tracción durante los arranques explosivos.
                    </li>
                    <li>Ajuste mejorado El Flyknit envuelve el tobillo con una tela suave y elástica para brindar una sensación de seguridad. Un diseño renovado que mejora el ajuste para adaptarse mejor al pie. Lo logramos a través de múltiples pruebas de
                        uso en cientos de atletas. El resultado es una punta mejor moldeada y un ajuste más firme en el talón.
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-acordeon">
            <button class="acordeon-button">
                Cómo Funciona
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acordeon-content">
                <p>
                    La parte superior está confeccionada con Vaporposite+, que combina una malla de rejilla con agarre con un material premium para brindar un control óptimo de la pelota a altas velocidades. El material proporciona una sensación táctil en la superficie de
                    la parte superior. Es suave, pero estable y se envuelve firmemente alrededor del pie, lo que brinda una sensación más natural en la pelota cuando haces regates, pases o goles.
                </p>
            </div>
        </div>
        <div class="container-acordeon">
            <button class="acordeon-button">
                Preguntas Frecuentes
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="acordeon-content">
                <ul>
                    <li>
                        Todos los artículos de esta tienda, sin usar, con etiquetas adjuntas y en su embalaje original son elegibles para devolución o cambio dentro de los 30 días posteriores a la realización de su pedido.
                    </li>
                    <li>
                        Tenga en cuenta que los paquetes deben devolverse en su totalidad. Nosotros no aceptamos devoluciones parciales.
                    </li>
                    <li>
                        ¿Quieres conocer nuestras <a href="devoluciones" target="_blank">políticas de
                            devoluciones</a> completas? Haz clic en el enlace para obtener más información.

                    </li>
                    <li>
                        ¿Quieres más información sobre el envío, los materiales o el cuidado? ¿instrucciones? <a href="terminosCompra" target="_blank">¡Aquí!</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-details-product">
        <div class="info-product">
            <h2>Detalles del Producto</h2>
            <div class="info">
                <ul>
                    <li>Para usar en campos con pasto corto ligeramente húmedo</li>
                    <li>
                        Malla en la parte superior
                    </li>
                    <li>
                        Plantilla acolchada
                    </li>
                    <li>
                        Color que se muestra: Azul báltico/Blanco
                    </li>
                    <li>
                        Estilo: DQ5293-182
                    </li>
                    <li>
                        Origen: China
                    </li>
                </ul>
            </div>
            <div class="features-product">
                <div class="feature-product shipping">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h4>Envío gratis</h4>
                    <p>En compras a partir de $50,000.00</p>
                </div>
                <div class="feature-product return">
                    <i class="fa-solid fa-phone-volume"></i>
                    <h4>Muy facil de devolver ante cualquier problema</h4>
                    <p>Solo debe llamar a un número de telefono.</p>
                </div>
                <div class="feature-product delivery">
                    <i class="fa-solid fa-globe"></i>
                    <h4>Entrega a nivel nacional</h4>
                    <p>Entrega rápida a todo el país.</p>
                </div>
                <div class="feature-product refund">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <h4>Política de reembolsos</h4>
                    <p>60 días de devolución por cualquier motivo.</p>
                </div>
            </div>
        </div>
    </div>

</main>

<section class="container container-productos-relacionados">
    <h2>Los clientes también compraron</h2>
    <div class="cards-productos-relacionados">
        <div class="card-producto-relacionado">
            <div class="image-product">
                <img src="static/img/producto-relacionado-1.jpg" alt="Producto Relacionado 1" />
                <div class="button-group">
                    <button class="btn-add-to-bag">
                        <i class="fa-solid fa-bag-shopping"></i>
                        Añadir a la cesta
                    </button>

                    <button class="btn-quick-view">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Vista previa
                    </button>
                </div>
            </div>
            <div class="info-product">
                <div class="container-title">
                    <h4>Nike Dunk Low</h4>
                    <p>Matte Black</p>
                </div>
                <div class="container-price">
                    <span>$40000.00</span>


                </div>
            </div>
        </div>
        <div class="card-producto-relacionado">
            <div class="image-product">
                <img src="static/img/producto-relacionado-2.jpg" alt="Producto Relacionado 2" />
                <div class="button-group">
                    <button class="btn-add-to-bag">
                        <i class="fa-solid fa-bag-shopping"></i>
                        Añadir a la cesta
                    </button>

                    <button class="btn-quick-view">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Vista previa
                    </button>
                </div>
            </div>
            <div class="info-product">
                <div class="container-title">
                    <h4>Nike Revolution 6 Next Nature</h4>
                    <p>Matte Black</p>
                </div>
                <div class="container-price">
                    <span>$30000.00</span>


                </div>
            </div>
        </div>
        <div class="card-producto-relacionado">
            <div class="image-product">
                <img src="static/img/producto-relacionado-3.jpg" alt="Producto Relacionado 3" />
                <div class="button-group">
                    <button class="btn-add-to-bag">
                        <i class="fa-solid fa-bag-shopping"></i>
                        Añadir a la cesta
                    </button>

                    <button class="btn-quick-view">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Vista previa
                    </button>
                </div>
            </div>
            <div class="info-product">
                <div class="container-title">
                    <h4>Puma Electrify Nitro 2</h4>
                    <p>Matte Black</p>
                </div>
                <div class="container-price">
                    <span>$36500.00</span>

                </div>
            </div>
        </div>
        <div class="card-producto-relacionado">
            <div class="image-product">
                <img src="static/img/producto-relacionado-4.jpg" alt="Producto Relacionado 4" />
                <div class="button-group">
                    <button class="btn-add-to-bag">
                        <i class="fa-solid fa-bag-shopping"></i>
                        Añadir a la cesta
                    </button>

                    <button class="btn-quick-view">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Vista previa
                    </button>
                </div>
            </div>
            <div class="info-product">
                <div class="container-title">
                    <h4>Nike Downshifter 12</h4>
                    <p>Matte Black</p>
                </div>
                <div class="container-price">
                    <span>$25000.00</span>

                </div>
            </div>
        </div>
    </div>
</section>



<script src="static\js\index.js"></script>
<script src="static\js\app.js"></script>
{% endblock %}