{% extends 'layout.html' %} {% block title %} Index {% endblock %} {% block body %}


<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div data-id="9" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/m9.jpg" alt="">
                </div>
                <p class="descripcion"> NIKE AIR MAX EXCEE</p>
                <span class="precio">$ 72.499</span>
            </div>
            <div data-id="10" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/10.jpg" alt="">
                </div>
                <p class="descripcion"> NIKE AIR MAX 90 FUTURA</p>
                <span class="precio">$ 99.999</span>
            </div>
            <div data-id="11" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/11.jpg" alt="">
                </div>
                <p class="descripcion"> ADIDAS ORIGINALS OZELIA</p>
                <span class="precio">$ 40.199</span>
            </div>
            <div data-id="12" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/12.jpg" alt="">
                </div>
                <p class="descripcion">FILA RENNO</p>
                <span class="precio">$ 41.239</span>
            </div>
        </div>
        <div class="fila">
            <div data-id="13" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/13.jpg" alt="">
                </div>
                <p class="descripcion">FILA RAY TRACER</p>
                <span class="precio">$ 45.989</span>
            </div>
            <div data-id="14" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/14.jpg" alt="">
                </div>
                <p class="descripcion">NEW BALANCE 574</p>
                <span class="precio">$ 50.999</span>
            </div>
            <div data-id="15" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/15.jpg" alt="">
                </div>
                <p class="descripcion">NEW BALANCE 450</p>
                <span class="precio">$ 43.499</span>
            </div>
            <div data-id="16" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/mujeres/16.jpg" alt="">
                </div>
                <p class="descripcion">FILA UNIT V2</p>
                <span class="precio">$ 55.639</span>
            </div>
        </div>
    </div>
    <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
    <div class="seleccion" id="seleccion">
        <div class="cerrar">
            &#x2715
        </div>
        <div class="info">
            <img src="/static/img/1.jpg" alt="" id="img">
            <h2 id="modelo">NIKE MODEL 1</h2>
            
            <p id="descripcion">Descripción Modelo 1</p>
            
            <span class="precio" id="precio">$ 130</span>

            <div class="fila">
                <div class="size">
                    <label for="">SIZE</label>
                    <select id="size-select">
                        <option value="44">34</option>
                        <option value="34">36</option>
                        <option value="40">38</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                    </select>
                </div>
                <button id="add-to-cart">AGREGAR AL CARRITO</button>
            </div>
        </div>
    </div>
</section>



{% endblock %}