{% extends 'layout.html' %} {% block title %} Index {% endblock %} {% block body %}


<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div id="1" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="/static/imgs/nino1.jpg" alt="">
                </div>
                <p class="descripcion">UNDER ARMOUR ASSERT 9</p>
                <span class="precio">$ 30.999</span>
            </div>
            <div id="2" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino2.jpg" alt="">
                </div>
                <p class="descripcion" id>ZUNDER ARMOUR ASSERT 9</p>
                <span class="precio">$ 30.999</span>
            </div>
            <div id="3" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino3.jpg" alt="">
                </div>
                <p class="descripcion">HEAD SAN DIEGO LITE 8</p>
                <span class="precio">$ 23.499</span>
            </div>
            <div id="4" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino4.jpg" alt="">
                </div>
                <p class="descripcion">KAPPA LOGO COLEGIAL CORDON</p>
                <span class="precio">$ 12.756</span>
            </div>
        </div>
        <div class="fila">
            <div id="5" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino5.jpg" alt="">
                </div>
                <p class="descripcion">ADIDAS DEPORTIVO II FXG</p>
                <span class="precio">$ 15.999</span>
            </div>
            <div id="6" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino6.jpg" alt="">
                </div>
                <p class="descripcion">ADDNICE CLASSIC BETA II</p>
                <span class="precio">$ 11.199</span>
            </div>
            <div id="7" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino7.jpg" alt="">
                </div>
                <p class="descripcion">PUMA COMET 2</p>
                <span class="precio">$ 17.899</span>
            </div>
            <div id="8" class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="static/imgs/nino8.jpg" alt="">
                </div>
                <p class="descripcion">PUMA COMET 2</p>
                <span class="precio">$ 17.899</span>
            </div>
        </div>
    </div>
    <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
    <div class="seleccion" id="seleccion">
        <div class="cerrar" onclick="cerrar()">
            &#x2715
        </div>
        <div class="info">
            <img src="static/img/1.jpg" alt="" id="img">
            <h2 id="modelo">NIKE MODEL 1</h2>

            <p id="descripcion">Descripción Modelo 1</p>
            <span class="precio" id="precio">$ 130</span>

            <div class="fila">
                <div class="size">
                    <label for="">SIZE</label>
                    <select id="size-select">
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="44">44</option>
                        <option value="46">46</option>
                    </select>
                </div>
                <button id="add-to-cart">AGREGAR AL CARRITO</button>
            </div>
        </div>
    </div>
</section>

<script src="static\js\index.js"></script>
<script src="static\js\scripts.js"></script>



{% endblock %}