{% extends 'layout.html' %} {% block title %} Index {% endblock %} {% block body %}


<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div data-id="17" class="item">
                <div class="contenedor-foto">
                    <img src="/static/imgs/ninos/nino1.jpg" alt="">
                </div>
                <p class="descripcion">UNDER ARMOUR ASSERT 9</p>
                <span class="precio">$ 30.999</span>
            </div>
            <div data-id="18" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino2.jpg" alt="">
                </div>
                <p class="descripcion" id>ZUNDER ARMOUR ASSERT 9</p>
                <span class="precio">$ 30.999</span>
            </div>
            <div data-id="19" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino3.jpg" alt="">
                </div>
                <p class="descripcion">HEAD SAN DIEGO LITE 8</p>
                <span class="precio">$ 23.499</span>
            </div>
            <div data-id="20" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino4.jpg" alt="">
                </div>
                <p class="descripcion">KAPPA LOGO COLEGIAL CORDON</p>
                <span class="precio">$ 12.756</span>
            </div>
        </div>
        <div class="fila">
            <div data-id="21" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino5.jpg" alt="">
                </div>
                <p class="descripcion">ADIDAS DEPORTIVO II FXG</p>
                <span class="precio">$ 15.999</span>
            </div>
            <div data-id="22" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino6.jpg" alt="">
                </div>
                <p class="descripcion">ADDNICE CLASSIC BETA II</p>
                <span class="precio">$ 11.199</span>
            </div>
            <div data-id="23" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino7.jpg" alt="">
                </div>
                <p class="descripcion">PUMA COMET 2</p>
                <span class="precio">$ 17.899</span>
            </div>
            <div data-id="24" class="item">
                <div class="contenedor-foto">
                    <img src="static/imgs/ninos/nino8.jpg" alt="">
                </div>
                <p class="descripcion">PUMA COMET 2</p>
                <span class="precio">$ 17.899</span>
            </div>
        </div>
    </div>
    <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
    <div class="seleccion" id="seleccion">
        <div class="cerrar">
            &#x2715
        </div>
        <div class="info">
            <img src="static/img/1.jpg" alt="" id="img">
            <h2 id="modelo">NIKE MODEL 1</h2>

            <p id="descripcion">Descripción Modelo 1</p>
            <span class="precio" id="precio">$ 130</span>

            <div class="fila">
                <div class="size">
                    <label for="">SIZE</label>
                    <select id="size-select">
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                    </select>
                </div>
                <button id="add-to-cart">AGREGAR AL CARRITO</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}